<!DOCTYPE html>
<html lang="en">
<head>
    <title>Basic Sinatra Forms Lab: Basket Ball Team</title>
</head>
<body>
    <h1>Welcome, choose an option</h1>
    <ul>
        <li>
            <a href="/newteam">Create a new team</a>
        </li>
        <li>
            <a href="/team">View team</a>
        </li>
    </ul>
</body>
</html>